{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST">
    <h3 align="center">Cardiac Risk Predictor</h3>
    <h3 align="center">Patient details</h3>
    <div class="form-group">
        <label for="age">Age (in years)</label>
        <input type="number"
               class="form-control"
               id="age"
               name="age"
               placeholder="Enter age" />
    </div>
    <div class="form-group">
        <label for="sex">Gender</label>
        <select id="sex" name="sex" required>
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Others</option>
        </select>
    </div>
    <div class="form-group">
        <label for="cp">Chest Pain Type</label>
        <select id="cp" name="cp" required>
            <option value="0">Typical angina</option>
            <option value="1">Atypical angina</option>
            <option value="2">Non-anginal pain</option>
            <option value="3">Asymptomatic</option>
        </select>
    </div>
    <div class="form-group">
        <label for="trestbps">Resting Blood Pressure</label>
        <input type="number"
               class="form-control"
               id="trestbps"
               name="trestbps"
               min="50" max="500" required
               placeholder="Enter Resting Blood Pressure (mm Hg)" />
    </div>
    <div class="form-group">
        <label for="chol">Serum Cholesterol</label>
        <input type="number"
               class="form-control"
               id="chol"
               name="chol"
               min="0" max="400" required
               placeholder="Serum Cholesterol (mg/dL)" />
    </div>
    <div class="form-group">
        <label for="fbs">Fasting Blood Sugar</label>
        <select id="fbs" name="fbs" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="restecg">Resting Electrocardiographic Results</label>
        <select id="restecg" name="restecg" required>
            <option value="0">Normal</option>
            <option value="1">ST-T wave abnormality</option>
            <option value="2">Probable or definite left ventricular hypertrophy</option>
        </select>
    </div>
    <div class="form-group">
        <label for="thalach">Maximum Heart Rate Achieved</label>
        <input type="number"
               class="form-control"
               id="thalach"
               name="thalach"
               min="60" max="300" required
               placeholder="Enter Maximum Heart Rate Achieved (BPM)" />
    </div>

    <div class="form-group">
        <label for="exang">Exercise Induced Angina:</label>
        <select id="exang" name="exang" required>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="oldpeak">ST Depression Induced by Exercise</label>
        <input type="number"
               class="form-control"
               id="oldpeak"
               name="oldpeak"
               min="0" max="7" step="0.1" required
               placeholder="Enter depression induced by excersize" />
    </div>

    <div class="form-group">
        <label for="slope">Slope of the Peak Exercise ST Segment:</label>
        <select id="slope" name="slope" required>
            <option value="0">Upsloping</option>
            <option value="1">Flat</option>
            <option value="2">Downsloping</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ca">Number of Major Vessels Colored by Fluoroscopy:</label>
        <select id="ca" name="ca" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="thal">Thalassemia:</label>
        <select id="thal" name="thal" required>
            <option value="0">Normal</option>
            <option value="1">Fixed Defect</option>
            <option value="2">Reversible Defect</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}